*{
    margin: 0%;
}
body{
    width: auto;
    overflow: hidden;
}
header{
    background-image: url('../img/ropa.jpg');

    /*background-repeat: no-repeat;*/
    height: 250px;
    display: flex;
    justify-content:flex-end;
    position: fixed;
    top: 0px;
    width: 100%;
    /* opacity: 0; */
}

h1{
    margin-top: 54px;
    background-color: rgba(255, 255, 255, 0.671);
    height: 40px;
    padding: 20px;
}
article{

    width: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.514),rgba(0, 128, 0, 0.404),
    rgba(0, 0, 200, 0.404));
    height: 700px;
    padding-top: 270px;
}
nav{
    margin-top: 54px;
    
    position: fixed;

    

}
nav ol li{
    background-color: rgb(16, 130, 230);
    margin: 5px;
    display: inline;
    padding: 15px;
    
}
nav ol li a{
    text-decoration: none;
    color: black;
}
article h2{
    text-align: center;
   
}
footer{
    background-color:pink;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 15px 0px;

}
