/New Folder/mi_primer_aplicacion/nbproject/private/
/New Folder/mi_primer_aplicacion/build/
/Java/clase2java/nbproject/private/
/Java/clase2java/build/
/Java/ejercicio1/build/
/Java/ejercicio1/nbproject/private/
/Java/clase2/nbproject/private/
/Java/clase2/build/
/Java/calculadora/nbproject/private/
/Java/calculadora/build/
