.container-fuid{
   margin-right: -20px;
}
.row{
    width: 100%;
}
.navbar{
    background-color: rgb(70, 69, 69) !important;
}
.navbar-brand img{
    width: 100px;
}
/* .izquierda{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px;
    height: 40px;
}
.derecha{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 45px;
    height: 40px;  
} */
#bsas{
margin-right: 1px;
}
.nav-item >a{
    color: rgb(179, 170, 170)
}
#verde{
    color: rgb(1, 148, 1);
}
.card >img{
    opacity: 0.5;
    
}
.card-img-top{
    opacity: 1 !important;
}
.card-img-overlay{
    font-size: 15px;
    width: 37%;
    margin-left: 55%; 
    margin-top: 350px;
  
}
.card-img-overlay > h5{
    font-size: 30px;
}
#boton{
    background-color: rgb(15, 168, 66);
    color: white;
}
.titulo{
    text-align: center;   
}
.card-group .card {
    margin: 25px;
}

