/* menu */

.container-fuid{
   margin-right: -20px;
}
.row{
    width: 100%;
}
.navbar{
    background-color: rgb(70, 69, 69) !important;

}
.navbar-brand img{
    width: 100px;
}

#bsas{
margin-right: 1px;
}
.nav-item >a{
    color: rgb(179, 170, 170)
}
#verde{
    color: rgb(1, 148, 1);
}

/* inicio */

.card >img{
    opacity: 0.5;
    
}
.card-img-top{
    opacity: 1 !important;
}
.card-img-overlay{
    
    font-size: 15px;
    width: 37%;
    margin-left: 55%; 
    margin-top: 350px;
  
}
.card-img-overlay > h5{
    font-size: 30px;
}
.card-body{
    margin: 5px;
    padding: 10px;
}

#boton{
    background-color: rgb(15, 168, 66);
    color: white;
}

/* Oradores */

.titulo{
    text-align: center;   
}
.card-group .card {
    margin: 20px;
   
}

#react{
    border: none;
    font-size: 10px; 
    font-weight: 3px;
    color:white; 
    width:40px; 
    padding: 1px; 
    background-color:rgb(6, 179, 170);
    
}
#javascript{
    font-size: 10px; 
    font-weight: 2px; 
    color:black; 
    width:50px;
    padding: 1px;
    
   
}
#negocios{
    font-size: 10px; 
    font-weight: 3px;
    color:white; 
    width:50px; 
    padding: 1px; 
    background-color:grey;
    
}
#startups{
    font-size: 10px; 
    font-weight: 2px; 
    color:white; 
    width:50px;
    padding: 1px;
    background-color: rgb(170, 22, 54);

   
}

/* honolulu */
.honolulu{
    margin-top: 10px;
}
.card-title{
    margin-left: 15px;
}
.card-text{
    margin-left: 15px;
font-size: 17px;
}

#conocemas{
    margin-left: 15px !important; 
}

/* Formulario */

#container{
    width: 50% !important;
}
#comentario{
    width: 630px ;
}
h6{
    font-weight: 400 !important;
}
#enviar{
    width:630px !important ;
    justify-content: center;
    background-color: rgba(115, 184, 12, 0.911);
    border: none;
    margin-top: 15px;
}
